*{
  margin: 0%;
}
#mainwrapper{
  height: 100vh;
  width: 100%;
  display: flex;
}
#mainwrapper>aside{
  height: 100%;
  width: 30%;
  border: 2px solid rgb(121, 86, 86);
  background-color: bisque;
}
#mainwrapper>section{
  height: 100%;
  width: 70%;
  display:flex ;
  flex-direction: column;

}
#mainwrapper>section>main{
  height: 20%;
  width: 100%;
  /* border: 2px solid black; */
  /* background-color: rgb(230, 133, 16); */
}
#mainwrapper>section>menu{
  height: 80%;
  width: 100%;
  border: 2px solid black;
}



/* nav bar style  */

#mainnav{
  height: 100%;
  width: 100%;
  background-color: rgb(215, 215, 224);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
#mainnav>section{
  height: 50%;
  width: 100%;
  display:flex ;
  align-items: center;
  justify-content: center;
}
#mainnav>nav{
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;


}